<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <style>
    body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('static/images/background.jpg') no-repeat center center fixed;
  background-size: cover;
}
    .login-container {
      background-color: white;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    input[type="text"], input[type="password"] {
      width: 95%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    button {
      width: 100%;
      padding: 10px;
      background-color: #007BFF;
      color: white;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="login-container">
    <h2>Login</h2>
    <form id="login-form">
      <input type="text" placeholder="Login" name="username" required>
      <input type="password" placeholder="Senha" name="password" required>
      <button type="submit">Entrar</button>
    </form>
  </div>
  <script>
    document.getElementById('login-form').addEventListener('submit', function(event) {
      event.preventDefault();
      const username = document.querySelector('input[name="username"]').value;
      const password = document.querySelector('input[name="password"]').value;
      // Aqui você pode adicionar a lógica de autenticação
      console.log(`Username: ${username}, Password: ${password}`);
      // Redirecionar para a página de telemetria após a validação
      window.location.href = '/telemetry';
    });
  </script>
</body>
</html>